.panel-container {
  width: 1024px;
  height: 576px;
}

.img-nobg {
  border:none !important;
  box-shadow: none !important;
  background: none !important; 
}

.panel {
  width: 1024px;
  height: 576px;
  margin: 0 auto !important;
}
.filtro {
  background-image: url('../panels/04/filtro.png');
}
/**************************panel 00 ************************/
#panel00 {
  background-image: url('../panels/00/fondo.png');
}
#p00__title img{
  left: 160px;
  position: absolute;
  top: 80px;
}
#p00__chapter img{
  position: absolute;
  left: 261px;
  top: 180px;
}
/**************************panel 00 ************************/
/**************************panel 01 ************************/
#panel01{
  background-image: url('../panels/01/fondo.png');
}
#p01__1-1 {
  position: absolute;
  left: 90px;
  top: 141px;
}
#p01__1-2 {
  position: absolute;
  left: 89px;
  top: 111px;
}
#p01__1-3 {
  position: absolute;
  right: 174px;
  top: 208px;
  z-index: 1;
}
#p01__1-4 {
  position: absolute;
  right: 215px;
  top: 120px;
}
#p01__1-5 {
  position: absolute;
  right: -107px;
  top: 50px;
}
#p01__1-6 {
  position: absolute;
  right: -100px;
  top: 67px;

}
#p01__1-7 {
  position: absolute;
  right: 0;
  bottom: 24px;
}
#p01__1-8 {
  position: absolute;
  top: 63px;
  right: 304px;
}
#p01__1-9 {
  position: absolute;
  right: 210px;
  top: 79px;  
}

/**************************panel 01 ************************/

/**************************panel 02 ************************/
#panel02 {
  background-image: url('../panels/02/fondo.png');
}
#p02__1 {
  position: absolute;
  left: 320px;
  top: 187px;
}
#p02__3 {
  background-image: url('../panels/02/3.png');
  position: absolute;
  top: 20px;
}
#p02__3-1{
  position: absolute;
  left: 50px;
  top: 140px;

}
#p02__3-2{
  position: absolute;
  right: 50px;
  top: 140px;

}
#p02__4 {
  background-image: url('../panels/02/6.png');
  position: absolute;
  top: 20px;
}
#p02__4-2 {
  position: absolute;
  left: 50px;
  top: 290px;
}
#p02__4-3 {
  position: absolute;
  left: 120px;
  top: 170px;
}
#p02__4-4 {
  position: absolute;
  top: 0;
  left: 270px;
  
}
#p02__4-5 {
  position: absolute;
  left: 111px;
  top: 170px;
}
#p02__4-6 {
  position: absolute;
  top: 285px;
  right: 60px;
}
#p02__4-7 {
  position: absolute;
  top: 175px;
  right: 60px;
}

/**************************panel 02 ************************/
/**************************panel 03 ************************/
#panel03 {
  background-image: url('../panels/03/fondo.png');
}
#p03__1-1 {
  position: absolute;
  left: 528px;
  top: 350px;
  z-index: 1;
}
#p03__1-2 {
  position: absolute;
  left: 420px;
  top: 190px;
}
#p03__1-3 {
  position: absolute;
  left: 308px;
  top: 60px;
}
#p03__1-4 {
  position: absolute;
  left: 308px;
  top: 60px;
}
#p03__1-5 {
  position: absolute;
  left: 86px;
  top: 150px;
}
#p03__1-6 {
  position: absolute;
  left: 30px;
  top: 100px;
}
#p03__1-7 {
  position: absolute;
  right: -70px;
  top: 319px;
}
#p03__1-8 {
  position: absolute;
  right: 0px;
  top: 50px;
}


/**************************panel 03 ************************/
/**************************panel 04 ************************/
#panel04 {
  background-image: url('../panels/04/fondo.png');
}
#p04__1 {
  background-image: url('../panels/04/filtro.png');
}
#p04__1-1 {
  position: absolute;
  top: 350px;
  left: 520px;
}
#p04__2-1 {
  position: absolute;
  right: -60px;
  top: 203px;
}
#p04__2-2 {
  position: absolute;
  right: 120px;
  top: 182px;
}
#p04__2-3 {
  position: absolute;
  top: 180px;
  right: 350px;
}
#p04__2-4 {
  position: absolute;
  right: 270px;
  top: 160px;
}
#p04__2-5 {
position: absolute;
right: 185px;
top: 90px;
}
#p04__2-6 {
  position: absolute;
  right: 185px;
  top: 82px;
  }
#p04__2-7 {
  position: absolute;
  left: 284px;
  top: 90px;
}
#p04__2-8 {
  position: absolute;
  left: 54px;
  top: 90px;
}
#p04__2-9 {
  position: absolute;
  left: 4px;
  top: 20px;
}
#p04__2-10 {
  position: absolute;
  left: 512px;
  top: 198px;
}
#p04__2-11 {
  position: absolute;
  left: 104px;
  top: 269px;
}

/**************************panel 04 ************************/
/**************************panel 05 ************************/
#panel05 {
  background-image: url('../panels/05/fondo.png');
}
#p05__1-1 {
  position: absolute;
  left: 588px;
  top: 100px;
  z-index: 1;
}
#p05__1-2 {
  position: absolute;
  left: 320px;
  top: 161px;
}
#p05__1-3 {
  position: absolute;
  left: 268px;
  top: 360px;
}
#p05__1-4 {
  position: absolute;
  left: 68px;
  top: 60px;
}
#p05__1-5 {
  position: absolute;
  left: 336px;
  top: 140px;
}
#p05__1-6 {
  position: absolute;
  right: -40px;
  top: 100px;
}
#p05__1-7 {
  position: absolute;
  right: 0px;
  top: 249px;
  z-index: 1;
}
#p05__1-8 {
  position: absolute;
  right: 0px;
  top: 250px;
  z-index: 1;
}
/**************************panel 05 ************************/
/**************************panel 06 ************************/
#panel06 {
  background-image: url('../panels/04/fondo.png');
}
#p06__1 {
  background-image: url('../panels/04/filtro.png');
}
#p06__2-1 {
  position: absolute;
  top: 420px;
  left: 340px;
}
#p06__2-2 {
  position: absolute;
  top: 370px;
  left: 270px;
}
#p06__2-3 {
  position: absolute;
  top: 290px;
  right: 150px;
}
#p06__2-4 {
  position: absolute;
  top: 230px;
  right: 347px;
}
#p06__2-5 {
  position: absolute;
  top: 70px;
  left: 50px;
}
#p06__2-6 {
  position: absolute;
  top: 70px;
  left: 257px;
}
#p06__2-7 {
  position: absolute;
  top: 150px;
  right: 15px;
}
#p06__2-8 {
  position: absolute;
  top: 300px;
  right: 215px;
}
#p06__2-9 {
  position: absolute;
  top: 208px;
  right: 305px;
}
#p06__2-10 {
position: absolute;
left: 10px;
top: 140px;
}
#p06__2-11 {
  position: absolute;
  left: 10px;
  top: 330px;
  }
#p06__2-12 {
    position: absolute;
    top: 230px;
    left: 281px;
  }
#p06__2-13 {
  position: absolute;
  right: 0;
  top: 200px;

}
#p06__2-14 {
  position: absolute;
  right: 159px;
  top: 161px;
}
#p06__2-15 {
  position: absolute;
  left: 60px;
  top: 50px;
}
#p06__2-16 {
  position: absolute;
  right: 168px;
  top: 70px;
}

  
/**************************panel 06 ************************/
/**************************panel 07 ************************/
#panel07 {
  background-image: url('../panels/07/fondo.png');
}
#p07__1-1 {
  position: absolute;
  left: 330px;
  top: 404px;
  z-index: 1;
}
#p07__1-2 {
  position: absolute;
  left: 790px;
  top: 321px;
}
#p07__1-3 {
  position: absolute;
  left: 161px;
  top: 290px;
}
#p07__1-4 {
  position: absolute;
  left: 70px;
  top: 230px;
}
#p07__1-5 {
  position: absolute;
  left: 226px;
  top: 280px;
}
#p07__1-6 {
  position: absolute;
  left: 190px;
  top: 290px;

}
#p07__1-7 {
  position: absolute;
  left: 50px;
  top: 249px;
  z-index: 1;
}
#p07__1-8 {
  position: absolute;
  left: 130px;
  top: 120px;
  z-index: 1;

}
#p07__1-9 {
  position: absolute;
  left: 190px;
  top: 290px;
  z-index: 1;
}
#p07__1-10 {
  position: absolute;
  left: 180px;
  top: 270px;
  z-index: 1;
}
#p07__1-11 {
  position: absolute;
  left: 40px;
  top: 170px;
  z-index: 1;
}
#p07__1-12 {
  position: absolute;
  right: 195px;
  top: 198px;
  z-index: 1;
}
#p07__1-13 {
  position: absolute;
  right: 46px;
  top: 190px;
  z-index: 1;
}
#p07__1-14 {
  position: absolute;
  right: 230px;
  top: 220px;
  z-index: 1;
}
#p07__1-15{
  position: absolute;
  right: 159px;
  top: 203px;
  z-index: 1;

}
/**************************panel 07 ************************/
/**************************panel 08 ************************/
#panel08 {
  background-image: url('../panels/08/fondo.png');
}
#p08__1-1 {
  position: absolute;
  left: 4px;
  top: 291px;
  z-index: 1;
}
#p08__1-2 {
  position: absolute;
  left: 30px;
  top: 21px;
}
#p08__1-3 {
  position: absolute;
  left: 81px;
  top: 150px;
}
#p08__1-4 {
  position: absolute;
  left: 80px;
  top: 152px;
}
#p08__1-5 {
  position: absolute;
  left: 80px;
  top: 152px;
}
#p08__1-6 {
  position: absolute;
  left: 410px;
  top: 214px;

}
#p08__1-7 {
  position: absolute;
  left: 506px;
  top: 119px;
  z-index: 1;
}
#p08__1-8 {
  position: absolute;
  left: 520px;
  top: 260px;
  z-index: 1;

}
#p08__1-9 {
  position: absolute;
  left: 520px;
  top: 260px;
  z-index: 1;
}
#p08__1-10 {
  position: absolute;
  right: 0;
  top: 510px;
  z-index: 1;
}
#p08__1-11 {
  position: absolute;
  right: 185px;
  top: 210px;
  z-index: 1;
}
#p08__1-12 {
  position: absolute;
  right: 184px;
  top: 340px;
  z-index: 1;
}
#p08__1-13 {
  position: absolute;
  right: 9px;
  top: 208px;
  z-index: 1;
}
#p08__1-14 {
  position: absolute;
  right: 0px;
  top: 340px;
  z-index: 1;
}
#p08__1-15{
  position: absolute;
  right: 140px;
  top: 190px;
  z-index: 1;

}
/**************************panel 08 ************************/
/**************************panel 09 ************************/
#panel09 {
  background-image: url('../panels/09/fondo.png');
}
#p09__1-1 {
  position: absolute;
  left: 44px;
  top: 111px;
  z-index: 1;
}
#p09__1-2 {
  position: absolute;
  left: 270px;
  top: 111px;
}
#p09__1-3 {
  position: absolute;
  left: 251px;
  top: 300px;
}
#p09__1-4 {
  position: absolute;
  right: 10px;
  top: 292px;
}
#p09__1-5 {
  position: absolute;
  left: 344px;
  top: 322px;

}
#p09__1-6 {
  position: absolute;
  left: 350px;
  top: 318px;

}

/**************************panel 09 ************************/
/**************************panel 10 ************************/
#panel10 {
  background-image: url('../panels/10/fondo.png');
}
#p10__1-1 {
  position: absolute;
  left: 514px;
  top: 211px;
  z-index: 1;
}
#p10__1-2 {
  position: absolute;
  left: 270px;
  top: 211px;
}
#p10__1-3 {
  position: absolute;
  left: 512px;
  top: 140px;
}
#p10__1-4 {
  position: absolute;
  right: 182px;
  top: 140px
}
#p10__1-5 {
  position: absolute;
  left: 344px;
  top: 122px;


}
#p10__1-6 {
  position: absolute;
  left: 660px;
  top: 208px;

}
#p10__1-7 {
  position: absolute;
  left: 450px;
  top: 208px;
}

/**************************panel 10 ************************/
/**************************panel 11 ************************/
#panel11 {
  background-image: url('../panels/11/fondo.png');
}
#p11__1-1 {
  position: absolute;
  left: 74px;
  top: 211px;
  z-index: 1;
}
#p11__1-2 {
  position: absolute;
  left: 270px;
  top: 211px;
}
#p11__1-3 {
  position: absolute;
  left: 117px;
  top: 140px;
}
#p11__1-4 {
  position: absolute;
  left: 115px;
  top: 110px;
}
#p11__1-6 {
  position: absolute;
  left: 171px;
  top: 118px;

}
#p11__1-7 {
  position: absolute;
  left: 70px;
  top: 208px;
}
#p11__1-8 {
  position: absolute;
  left: 170px;
  top: 118px;
}
#p11__1-9 {
  position: absolute;
  left: 276px;
  top: 200px;
}
#p11__1-10 {
  position: absolute;
  left: 170px;
  top: 118px;
}
#p11__1-11 {
  position: absolute;
  left: 450px;
  top: 208px;
}

/**************************panel 11 ************************/
/**************************panel 12 ************************/
#panel12 {
  background-image: url('../panels/12/fondo.png');
}
#p12__1-1 {
  position: absolute;
  left: 74px;
  top: 211px;
  z-index: 1;
}
#p12__1-2 {
  position: absolute;
  left: 403px;
  top: 61px;
}
#p12__1-3 {
  position: absolute;
  left: 397px;
  top: 240px;
  z-index: 1;
}
#p12__1-4 {
  position: absolute;
  left: 453px;
  top: 200px;
}
#p12__1-5 {
  position: absolute;
  right: -75px;
  top: 118px;
}
#p12__1-6 {
  position: absolute;
  right: -28px;
  top: 163px;
}
#p12__1-7 {
  position: absolute;
  right: 132px;
  top: 208px;
}
#p12__1-8 {
  background-image: url('../panels/12/8.png');
  height: 576px;
  z-index: 2;
}
#p12__1-9 {
  position: absolute;
  left: 190px;
  top: 90px;
}
#p12__1-10 {
  position: absolute;
  left: 187px;
  top: 88px;
}

/**************************panel 12 ************************/
/**************************panel 13 ************************/
#panel13 {
  background-image: url('../panels/13/fondo.png');
}
#p13__1-1 {
  position: absolute;
  left: 154px;
  top: 321px;
  z-index: 1;
}
#p13__1-2 {
  position: absolute;
  left: 303px;
  top: 211px;
}
#p13__1-3 {
  position: absolute;
  left: 177px;
  top: 110px;
  z-index: 1;
}
#p13__1-4 {
  position: absolute;
  left: 181px;
  top: 110px;
}
#p13__1-5 {
  position: absolute;
  right: 315px;
  top: 28px;
}
#p13__1-6 {
  position: absolute;
  right: 132px;
  top: 183px;
}
#p13__1-7 {
  position: absolute;
  right: 375px;
  top: 108px;
}
#p13__1-8 {
  position: absolute;
  right: 35px;
  top: 368px;

}
#p13__1-9 {
  position: absolute;
  left: 150px;
  top: 160px;
}
#p13__1-10 {
  position: absolute;
  left: 67px;
  top: 18px;
}
#p13__1-11 {
  position: absolute;
  left: 247px;
  top: 288px;
}
#p13__1-12 {
  position: absolute;
  left: 247px;
  top: 288px;
}
#p13__1-13 {
  position: absolute;
  left: 67px;
  top: 18px;
}
#p13__1-14 {
  position: absolute;
  left: 67px;
  top: 18px;
}
#p13__1-15 {
  position: absolute;
  left: 567px;
  top: 88px;
}
#p13__1-16 {
  position: absolute;
  left: 697px;
  top: 318px;
}
#p13__1-17 {
  position: absolute;
  right: 147px;
  top: 348px;
}
#p13__1-18 {
  position: absolute;
  right: 147px;
  top: 348px;
}
#p13__1-19 {
  position: absolute;
  right: 147px;
  top: 348px;
}
#p13__1-20 {
  position: absolute;
  left: -16px;
  top: 5px;
}

/**************************panel 13 ************************/
/**************************panel 14 ************************/
#panel14 {
  background-image: url('../panels/14/fondo.png');
}
#p14__1-1 {
  position: absolute;
  left: 77px;
  top: 145px;
  z-index: 1;
}
#p14__1-2 {
  position: absolute;
  left: 224px;
  top: 170px;
}
#p14__1-3 {
  position: absolute;
  right: 17px;
  top: 80px;
  z-index: 1;
}
#p14__1-4 {
  position: absolute;
  right: 21px;
  top: 290px;
}
/**************************panel 14 ************************/
/**************************panel 15 ************************/
#panel15 {
  background-image: url('../panels/15/fondo.png');
}
#p15__1-1 {
  position: absolute;
  left: 77px;
  top: 145px;
  z-index: 1;
}
#p15__1-2 {
  position: absolute;
  left: 174px;
  top: 450px;
  z-index: 1;
}
#p15__1-3 {
  position: absolute;
  right: 117px;
  top: 80px;
  z-index: 1;
}
#p15__1-4 {
  position: absolute;
  right: 161px;
  top: 220px;
  z-index: 1;
}
#p15__1-5 {
  position: absolute;
  right: 113px;
  top: 290px;

}
#p15__1-6 {
  position: absolute;
  right: 161px;
  top: 321px;
}
#p15__1-7 {
  position: absolute;
  right: 161px;
  top: 434px;
}
#p15__1-8 {
  position: absolute;
  right: 161px;
  top: 330px;
}
#p15__1-9 {
  position: absolute;
  right: 153px;
  top: 400px;
}
#p15__1-10 {
  position: absolute;
  right: 161px;
  top: 480px;

}
/**************************panel 15 ************************/
/**************************panel 16 - 17************************/

#p16__1-1 {
  background-image: url('../panels/16-17/1.png');
  height: 576px;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
#p16__1-2 {
  background-image: url(../panels/16-17/2.png);
  height: 576px;
  background-repeat: no-repeat;
  /* right: 0; */
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;
}
#p16__1-4 {
  position: absolute;
  left: 120px;
  top: 291px;
  z-index: 1;
}
#p16__1-5 {
  position: absolute;
  left: 173px;
  top: 140px;
  z-index: 1;

}
#p16__1-6 {
  position: absolute;
  left: 166px;
  top: 191px;
  z-index: 1;
}
#p16__1-7 {
  position: absolute;
  right: -73px;
  top: 191px;
  z-index: 1;
}
#p16__1-8 {
  position: absolute;
  right: 161px;
  top: 280px;
}
#p16__1-9 {
  position: absolute;
  right: 153px;
  top: 240px;
}
#p16__1-10 {
  position: absolute;
  right: 71px;
  top: 230px;

}
#p16__1-11 {
  position: absolute;
  right: 121px;
  top: 180px;

}
#p16__1-12 {
  position: absolute;
  right: 121px;
  top: 280px;

}
#p16__1-13 {
  position: absolute;
  right: 42px;
  top: 110px;

}
#p16__1-14 {
  position: absolute;
  right: 238px;
  top: 259px;
}
#p16__1-15 {
  position: absolute;
  right: 42px;
  top: 108px;

}
#p16__1-16 {
  position: absolute;
  right: 238px;
  top: 259px;

}
#p16__1-17 {
  position: absolute;
  right: 87px;
  top: 270px;

}
#p16__1-18 {
  position: absolute;
  right: 61px;
  top: 40px;
}
#p16__1-19 {
  position: absolute;
  left: 299px;
  top: 249px;

}
#p16__1-20 {
  position: absolute;
  left: 90px;
  top: 50px;
}
#p16__1-21 {
  position: absolute;
  right: 81px;
  top: 310px;

}
/**************************panel 16 - 17 ************************/
/**************************panel 18************************/
#panel18 {
  background-image: url('../panels/18/fondo1.png');
}
#p18__1-1 {
  position: absolute;
  left: 273px;
  top: 191px;
  z-index: 1;
}
#p18__1-2 {
  position: absolute;
  left: 463px;
  top: 71px;
  z-index: 1;
}
#p18__1-3 {
  position: absolute;
  left: 273px;
  top: 191px;
  z-index: 1;
}
#p18__1-4 {
  position: absolute;
  left: 463px;
  top: 71px;
  z-index: 1;
}
#p18__1-5 {
  position: absolute;
  left: 463px;
  top: 71px;
  z-index: 1;

}
#p18__1-6 {
  position: absolute;
  left: 463px;
  top: 71px;
  z-index: 1;
}
#p18__1-7 {
  position: absolute;
  left: 10px;
  top: 31px;
  z-index: 1;
}
#p18__1-8 {
  position: absolute;
  right: 161px;
  top: 460px;
}
#p18__1-9 {
  background-image: url(../panels/18/fondo2.png);
  height: 576px;
  background-repeat: no-repeat;
  /* right: 0; */
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;
}
#p18__1-10 {
  position: absolute;
  left: 281px;
  top: 147px;

}
#p18__1-11 {
  position: absolute;
  right: 121px;
  top: 180px;

}
#p18__1-12 {
  position: absolute;
  right: -71px;
  top: 260px;

}
#p18__1-13 {
  position: absolute;
  right: 112px;
  top: 350px;

}

/**************************panel 18 ************************/

/**************************panel 19************************/
#panel19 {
  background-image: url('../panels/19/fondo.png');
}
#p19__1-1 {
  position: absolute;
  left: 73px;
  top: 231px;
  z-index: 1;
}
#p19__1-2 {
  position: absolute;
  left: 123px;
  top: 139px;
  z-index: 1;
}
#p19__1-3 {
  position: absolute;
  left: 493px;
  top: 96px;
  z-index: 1;
}
#p19__1-4 {
  position: absolute;
  left: 63px;
  top: 361px;
  z-index: 1;
}
#p19__1-5 {
  position: absolute;
  left: 393px;
  top: 231px;
  z-index: 1;

}
#p19__1-6 {
  position: absolute;
  right: 0;
  top: 21px;
  z-index: 1
}

#p19__1-8 {
  position: absolute;
  left: 94px;
  top: 5px;
}
#p19__1-9 {
  position: absolute;
  right: 0px;
  top: 5px;
}

/*#p19__1-9 {
  background-image: url(../panels/18/fondo2.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;
}*/

#p19__1-12 {
  background-image: url(../panels/19/12.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;
}

#p19__1-13 {
  position: absolute;
  right: 112px;
  top: 350px;

}
#p19__1-14 {
  position: absolute;
  left: 576px;
  top: 67px;
}
#p19__1-15 {
  position: absolute;
  right: 321px;
  top: 70px;

}
#p19__1-16 {
  position: absolute;
  right: 321px;
  top: 70px;

}
#p19__1-17 {
  position: absolute;
  right: 112px;
  top: 130px;

}
#p19__1-18 {
  position: absolute;
  right: 112px;
  top: 350px;

}#p19__1-19 {
  position: absolute;
  left: 51px;
  top: 80px;

}#p19__1-20 {
  position: absolute;
  left: 46px;
  top: 130px;

}#p19__1-21 {
  background-image: url(../panels/19/21.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;

}
#p19__1-23 {
  position: absolute;
  right: 194px;
  top: 47px;

}#p19__1-24 {
  position: absolute;
  right: 112px;
  top: 60px;

}#p19__1-25 {
  position: absolute;
  left: 12px;
  top: 173px;

}#p19__1-26 {
  position: absolute;
  left: 12px;
  top: 59px;

}#p19__1-27 {
  position: absolute;
  left: -38px;
  top: 54px;

}#p19__1-28 {
  position: absolute;
  right: 42px;
  top: 210px;

}#p19__1-29 {
  position: absolute;
  right: 222px;
  top: 420px;

}#p19__1-30 {
  position: absolute;
  left: 72px;
  top: 234px;


}#p19__1-31 {
  position: absolute;
  right: 192px;
  top: 46px;

}#p19__1-32 {
  position: absolute;
  right: 32px;
  top: 180px;

}#p19__1-33 {
  position: absolute;
  right: 132px;
  top: 163px;

}#p19__1-34 {
  position: absolute;
  left: 144px;
  top: 101px;

}#p19__1-35 {
  position: absolute;
  LEFT: 137px;
  top: 78px;

}#p19__1-36 {
  position: absolute;
  left: 332px;
  top: 420px;

}#p19__1-37 {
  position: absolute;
  right: 0px;
  top: 452px;

}#p19__1-38 {
  position: absolute;
  right: 32px;
  top: 80px;

}#p19__1-39 {
  position: absolute;
  right: 29px;
  top: 79px;

}#p19__1-40 {
  position: absolute;
  right: 31px;
  top: 80px;


}#p19__1-41 {
  position: absolute;
  right: 192px;
  top: 50px;

}#p19__1-42 {
  position: absolute;
  right: 132px;
  top: 250px;
}#p19__1-43 {
  position: absolute;
  right: 82px;
  top: 250px;

}#p19__1-44 {
  position: absolute;
  right: 2px;
  top: 66px;

}#p19__1-45 {
  position: absolute;
  left: 22px;
  top: 80px;

}#p19__1-46 {
  position: absolute;
  right: 142px;
  top: 270px;

}#p19__1-47 {
  position: absolute;
  left: 22px;
  top: 82px;

}#p19__1-48 {
  position: absolute;
  right: 22px;
  top: 260px;

}


/**************************panel 19 ************************/

/**************************panel 21 ************************/
#panel21 {
  background-image: url('../panels/21/fondo.png');
}
#p21__1-1 {
  position: absolute;
  left: 351px;
  top: 11px;
  z-index: 1;

}
#p21__1-2 {
  position: absolute;
  left: 313px;
  top: 132px;
  z-index: 1;
}
#p21__1-3 {
  position: absolute;
  left: 0;
  top: 381px;
  z-index: 1;
}
#p21__1-4 {
  position: absolute;
  left: 155px;
  top: 20px;
  z-index: 1;

}
#p21__1-5 {
  position: absolute;
  right: 63px;
  top: 271px;
  z-index: 1;

}
#p21__1-6 {
  position: absolute;
  right: 64px;
  top: 271px;
  z-index: 1;
}
#p21__1-7 {
  position: absolute;
  right: 64px;
  top: 271px;
  z-index: 1;
}
#p21__1-8 {
  position: absolute;
  right: 46px;
  top: 60px;

}
#p21__1-9 {
  position: absolute;
  right: 231px;
  top: 28px;
}
#p21__1-10 {
  position: absolute;
  left: 283px;
  top: 347px;

}
#p21__1-11 {
  position: absolute;
  left: 250px;
  top: 50px;

}
#p21__1-12 {
  position: absolute;
  right: 41px;
  top: 260px;

}
#p21__1-13 {
  position: absolute;
  right: 212px;
  top: 180px;

}
#p21__1-14 {
  position: absolute;
  right: 332px;
  top: 200px;

}
#p21__1-15 {
  position: absolute;
  left: 12px;
  top: 153px;


}
#p21__1-16 {
  position: absolute;
  left: 52px;
  top: 30px;

}
#p21__1-17 {
  position: absolute;
  left: 52px;
  top: 30px;

}

/**************************panel 21 ************************/
/**************************panel 22 ************************/
#panel22 {
  background-image: url('../panels/22/fondo.png');
}
#p22__1-1 {
  position: absolute;
  left: 321px;
  top: 132px;
  z-index: 1;

}
#p22__1-2 {
  position: absolute;
  left: 643px;
  top: 27px;
  z-index: 1;
}
#p22__1-3 {
  position: absolute;
  left: 520px;
  top: 181px;
  z-index: 1;
}
#p22__1-4 {
  position: absolute;
  left: 235px;
  top: 190px;
  z-index: 1;

}
#p22__1-5 {
  position: absolute;
  left: 83px;
  top: 161px;
  z-index: 1;

}
#p22__1-6 {
  position: absolute;
  right: 4px;
  top: 211px;
  z-index: 1;
}

#p22__1-8 {
  position: absolute;
  right: 86px;
  top: 47px;
  z-index: 2;

}

#p22__1-10 {
  position: absolute;
  left: 73px;
  top: 145px;

}
#p22__1-11 {
  position: absolute;
  left: 30px;
  top: 102px;

}
#p22__1-12 {
  background-image: url(../panels/22/12.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;

}
#p22__1-13 {
  position: absolute;
  right: 212px;
  top: 180px;

}
#p22__1-14 {
  position: absolute;
  left: 192px;
  top: 170px;

}
#p22__1-15 {
  position: absolute;
  left: 372px;
  top: 301px;


}
#p22__1-16 {
  position: absolute;
  left: 662px;
  top: 100px;

}
#p22__1-17 {
  position: absolute;
  right: 102px;
  top: 260px;

}
#p22__1-18 {
  position: absolute;
  left: 262px;
  top: 340px;

}
#p22__1-19 {
  background-image: url(../panels/22/19.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;

}
#p22__1-20 {
  position: absolute;
  left: 52px;
  top: 30px;

}
#p22__1-21 {
  position: absolute;
  left: 282px;
  top: 340px;

}
#p22__1-22 {
  position: absolute;
  left: 52px;
  top: 110px;

}
#p22__1-23 {
  position: absolute;
  left: 292px;
  top: 170px;

}
#p22__1-24 {
  position: absolute;
  left: 532px;
  top: 110px;

}
#p22__1-25 {
  position: absolute;
  right: 22px;
  top: 111px;

}
#p22__1-26 {
  position: absolute;
  left: 182px;
  top: 247px;

}
#p22__1-27 {
  position: absolute;
  left: 182px;
  top: 248px;

}

/**************************panel 22 ************************/
/**************************panel 23 ************************/
#panel23 {
  background-image: url('../panels/23/fondo.png');
}
#p23__1-1 {
  position: absolute;
  left: 391px;
  top: 132px;
  z-index: 1;

}
#p23__1-2 {
  position: absolute;
  left: 50px;
  top: 47px;
  z-index: 1;
}
#p23__1-3 {
  position: absolute;
  left: 48px;
  top: 311px;
  z-index: 1;
}
#p23__1-4 {
  position: absolute;
  left: 48px;
  top: 311px;
  z-index: 1;

}
#p23__1-5 {
  position: absolute;
  left: 303px;
  top: 291px;
  z-index: 1;

}
#p23__1-6 {
  position: absolute;
  right: 4px;
  top: 211px;
  z-index: 1;
}

#p23__1-7 {
  position: absolute;
  right: 4px;
  top: 211px;
  z-index: 1;

}
/*********************** 23 ***********************/
/**************************panel 24 ************************/
#panel24 {
  background-image: url('../panels/22/fondo.png');
}
#p24__1-1 {
  position: absolute;
  left: 319px;
  top: 124px;
  z-index: 1;


}
#p24__1-2 {
  position: absolute;
  left: 519px;
  top: 27px;
  z-index: 1;
}
#p24__1-3 {
  position: absolute;
  left: 170px;
  top: 181px;
  z-index: 1;
}

#p24__1-5 {
  position: absolute;
  left: 323px;
  top: 161px;
  z-index: 1;

}
#p24__1-6 {
  position: absolute;
  right: 194px;
  top: 191px;
  z-index: 1;
}

#p24__1-8 {
  background-image: url(../panels/24/8.png);
  height: 576px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 1024px;
  top: 20px;


}

#p24__1-10 {
  position: absolute;
  left: 463px;
  top: 145px;

}
#p24__1-11 {
  position: absolute;
  left: 30px;
  top: 102px;

}
#p24__1-12 {
  position: absolute;
  left: 30px;
  top: 432px;
}
#p24__1-13 {
  position: absolute;
  left: -28px;
  top: 300px;

}
#p24__1-14 {
  position: absolute;
  left: 182px;
  top: 161px;
  

}
#p24__1-15 {
  position: absolute;
  left: 182px;
  top: 301px;


}
#p24__1-16 {
  position: absolute;
  left: 442px;
  top: 160px;

}
#p24__1-17 {
  position: absolute;
  right: 72px;
  top: 360px;

}
#p24__1-18 {
  position: absolute;
  left: 632px;
  top: 160px;

}
#p24__1-19 {
  position: absolute;
  left: 632px;
  top: 160px;

}
#p24__1-20 {
  position: absolute;
  left: 422px;
  top: 260px;

}
#p24__1-21 {
  position: absolute;
  left: 62px;
  top: 190px;

}
#p24__1-22 {
  position: absolute;
  left: 292px;
  top: 180px;
}
#p24__1-23 {
  position: absolute;
  left: 292px;
  top: 170px;

}
#p24__1-24 {
  position: absolute;
  left: 292px;
  top: 170px;

}
#p24__1-25 {
  position: absolute;
  right: 22px;
  top: 111px;

}
#p24__1-26 {
  position: absolute;
  left: 182px;
  top: 247px;

}
#p24__1-27 {
  position: absolute;
  left: 182px;
  top: 248px;

}

/**************************panel 24 ************************/
/**************************panel 25 ************************/
#panel25 {
  background-image: url('../panels/25/fondo.png');
}
#p25__1-1 {
  position: absolute;
  left: 399px;
  top: 154px;
  z-index: 1;
}
#p25__1-2 {
  position: absolute;
  left: 539px;
  top: 337px;
  z-index: 1;
}
#p25__1-3 {
  position: absolute;
  left: 508px;
  top: 291px;
  z-index: 1;
}
#p25__1-4 {
  position: absolute;
  left: 263px;
  top: 191px;
  z-index: 1;

}
#p25__1-5 {
  position: absolute;
  left: 153px;
  top: 391px;
  z-index: 1;
}
#p25__1-6 {
  position: absolute;
  right: 474px;
  top: 437px;
  z-index: 1;
}
#p25__1-7 {
  position: absolute;
  right: 24px;
  top: 191px;
  z-index: 1;
}
#p25__1-8 {
  position: absolute;
  right: 355px;
  top: 191px;
  z-index: 1;
}
#p25__1-9 {
  position: absolute;
  right: 484px;
  top: 341px;
  z-index: 1;
}
#p25__1-10 {
  position: absolute;
  left: 243px;
  top: 355px;

}
#p25__1-11 {
  position: absolute;
  left: 490px;
  top: 282px;
  z-index: 1;


}
#p25__1-12 {
  position: absolute;
  left: 490px;
  top: 282px;
  z-index: 1;

}
#p25__1-13 {
  position: absolute;
  right: 0;
  top: 80px;

}
#p25__1-14 {
  position: absolute;
  left: 62px;
  top: 110px;
  

}
#p25__1-15 {
  position: absolute;
  left: 272px;
  top: 281px;


}
#p25__1-16 {
  position: absolute;
  left: 422px;
  top: 290px;

}
#p25__1-17 {
  position: absolute;
  right: 72px;
  top: 190px;

}

/**************************panel 25 ************************/
/**************************panel 26 ************************/
#panel26 {
  background-image: url('../panels/26/fondo.png');
}
#p26__1-1 {
  position: absolute;
  left: 369px;
  top: 154px;
  z-index: 1;
}
#p26__1-2 {
  position: absolute;
  left: 389px;
  top: 117px;
  z-index: 1;
}
#p26__1-3 {
  position: absolute;
  left: 458px;
  top: 211px;
  z-index: 1;
}
#p26__1-4 {
  position: absolute;
  left: 473px;
  top: 291px;
  z-index: 1;

}
#p26__1-5 {
  position: absolute;
  left: 363px;
  top: 281px;
  z-index: 1;
}
#p26__1-6 {
  position: absolute;
  right: 474px;
  top: 317px;
  z-index: 1;
}
#p26__1-7 {
  position: absolute;
  left: 156px;
  top: 191px;
  z-index: 1;
}
#p26__1-8 {
  position: absolute;
  right: 215px;
  top: 11px;
  z-index: 1;
}
#p26__1-9 {
  position: absolute;
  right: 54px;
  top: 291px;
  z-index: 1;
}
#p26__1-10 {
  position: absolute;
  right: -32px;
  top: 175px;
  z-index: 1;

}
#p26__1-11 {
  position: absolute;
  left: 270px;
  top: 12px;
  z-index: 1;


}
#p26__1-12 {
  position: absolute;
  right: -30px;
  top: 175px;
  z-index: 1;

}
#p26__1-13 {
  position: absolute;
  left: 156px;
  top: 190px;

}
#p26__1-14 {
  position: absolute;
  left: 72px;
  top: 360px;

  

}
#p26__1-15 {
  position: absolute;
  left: 272px;
  top: 281px;


}
#p26__1-16 {
  position: absolute;
  left: 156px;
  top: 190px;

}
#p26__1-17 {
  position: absolute;
  left: 154px;
  top: 190px;

}
#p26__1-18 {
  position: absolute;
  right: 422px;
  top: 197px;

}
#p26__1-19 {
POSITION: absolute;
left: 650px;
top: 160px;
}

#p26__1-20 {
  position: absolute;
  right: 162px;
  top: 190px;

}
#p26__1-21 {
  position: absolute;
  right: 182px;
  top: 290px;

}
#p26__1-22 {
  position: absolute;
  right: -18px;
  top: 262px;


}
#p26__1-23 {
  position: absolute;
  right: 176px;
  top: 163px;
  Z-INDEX: 1;

}
#p26__1-24 {
  position: absolute;
  right: 72px;
  top: 190px;

}
#p26__1-25 {
  position: absolute;
  right: 322px;
  top: 370px;

}
#p26__1-26 {
  position: absolute;
  left: 412px;
  top: 60px;

}
#p26__1-27 {
  position: absolute;
  left: 413px;
  top: 59px;

}
#p26__1-28 {
  position: absolute;
  right: 332px;
  top: 250px

}

/**************************panel 26 ************************/
/**************************panel 27 ************************/
#panel27 {
  background-image: url('../panels/27/fondo.png');
}
#p27__1-1 {
  position: absolute;
  left: 469px;
  top: 204px;
  z-index: 1;
}
#p27__1-2 {
  position: absolute;
  left: 389px;
  top: 317px;
  z-index: 1;
}
#p27__1-3 {
  position: absolute;
  left: 518px;
  top: 271px;
  z-index: 1;
}
#p27__1-4 {
  position: absolute;
  left: 703px;
  top: 121px;
  z-index: 1;


}
#p27__1-5 {
  position: absolute;
  left: 703px;
  top: 124px;
  z-index: 1;
}
#p27__1-6 {
  position: absolute;
  right: 164px;
  top: 87px;
  z-index: 1;
}
#p27__1-7 {
  position: absolute;
  left: 524px;
  top: 271px;
  z-index: 1;
}
#p27__1-10 {
  position: absolute;
  left: 258px;
  top: 265px;
  z-index: 1;


}
#p27__1-11 {
  position: absolute;
  left: 410px;
  top: 302px;
  z-index: 1;


}
#p27__1-12 {
  position: absolute;
  left: 210px;
  top: 205px;
  z-index: 1;

}
#p27__1-13 {
  position: absolute;
  left: 526px;
  top: 130px;

}
#p27__1-14 {
  position: absolute;
  left: 424px;
  top: 310px;
}
#p27__1-15 {
  position: absolute;
  left: 212px;
  top: 91px;
  z-index: 1;

}
#p27__1-16 {
  position: absolute;
  left: 212px;
  top: 92px

}
#p27__1-17 {
  position: absolute;
  left: 577px;
  top: 194px;
}


/**************************panel 27 ************************/
/**************************panel 28 ************************/
#panel28 {
  background-image: url('../panels/28/fondo.png');
}
#p28__1-1 {
  position: absolute;
  left: 225px;
  top: 348px;
  z-index: 1;
}
#p28__1-2 {
  position: absolute;
  left: 69px;
  top: 197px;
  z-index: 2;
}
#p28__1-3 {
  position: absolute;
  left: 218px;
  top: 283px;
  z-index: 1;
}
#p28__1-4 {
  position: absolute;
  left: 213px;
  top: 121px;
  z-index: 1;
}
#p28__1-5 {
  position: absolute;
  left: 443px;
  top: 164px;
  z-index: 1;
}
#p28__1-6 {
  position: absolute;
  right: 314px;
  top: 107px;
  z-index: 1;
}
#p28__1-7 {
  position: absolute;
  left: 445px;
  top: 106px;
  z-index: 1;
}
#p28__1-8 {
  position: absolute;
  left: 398px;
  top: 325px;
  z-index: 1;


}
#p28__1-9 {
  position: absolute;
  right: -30px;
  top: 32px;
  z-index: 1;

}
/**************************panel 28 ************************/
/**************************panel 29 - 30 ************************/
#panel29 {
  background-image: url('../panels/29/fondo.png');
}
#p29__1-1 {
  position: absolute;
  left: 545px;
  top: 168px;
  z-index: 1;
}
#p29__1-2 {
  position: absolute;
  left: 659px;
  top: 147px;
  z-index: 1;
}
#p29__1-3 {
  position: absolute;
  left: 458px;
  top: 183px;
  z-index: 1;

}
#p29__1-4 {
  position: absolute;
  left: 237px;
  top: 51px;
  z-index: 1;
}
#p29__1-5 {
  position: absolute;
  left: 237px;
  top: 51px;
  z-index: 1;
}
#p29__1-6 {
  position: absolute;
  LEFT: 214px;
  top: 187px;
  z-index: 1;

}
#p29__1-7 {
  position: absolute;
  left: 385px;
  top: 86px;
  z-index: 1;
}
#p29__1-8 {
  position: absolute;
  left: 546px;
  top: 171px;



}
#p29__1-9 {
  position: absolute;
  right: 380px;
  top: 62px;
  z-index: 1;

}
#p29__1-10 {
  position: absolute;
  right: 379px;
  top: 61px;
  z-index: 1;

}
#p29__1-11 {
  position: absolute;
  left: 80px;
  top: 252px;
  z-index: 1;

}
#p29__1-12 {
  position: absolute;
  left: 108px;
  top: 185px;
  z-index: 1;

}
#p29__1-13 {
  position: absolute;
  left: 120px;
  top: 202px;
  z-index: 1;

}
#p29__1-14 {
  position: absolute;
  left: 360px;
  top: 202px;
  z-index: 1;

}
#p29__1-15 {
  position: absolute;
  right: 280px;
  top: 165px;
  z-index: 1;

}
#p29__1-16 {
  position: absolute;
  left: 120px;
  top: 162px;
  z-index: 1;

}
#p29__1-17 {
  position: absolute;
  left: 360px;
  top: 202px;
  z-index: 1;

}
#p29__1-18 {
  position: absolute;
  right: 171px;
  top: 146px;


}
#p29__1-19 {
  position: absolute;
  right: 230px;
  top: 32px;
  z-index: 1

}
#p29__1-20 {
  position: absolute;
  right: 500px;
  top: 201px;
  z-index: 1;

}
#p29__1-21 {
  position: absolute;
  right: 350px;
  top: 72px;
  z-index: 1;

}
#p29__1-22 {
  position: absolute;
  left: 110px;
  top: 102px;
  z-index: 1;

}
#p29__1-23 {
  position: absolute;
  left: 40px;
  top: 242px;
  z-index: 1

}
#p29__1-24 {
  position: absolute;
  left: 110px;
  top: 102px;
  z-index: 1;

}
#p29__1-25 {
  position: absolute;
  left: 40px;
  top: 243px;
  z-index: 1;

}
#p29__1-26 {
  position: absolute;
  left: 90px;
  top: 212px;
  z-index: 1;

}
#p29__1-27 {
  position: absolute;
  right: 170px;
  top: 162px;

}
#p29__1-28 {
  position: absolute;
  right: 193px;
  top: 88px;
  z-index: 1;

}
/**************************panel 29 - 30 ************************/
/**************************panel31 ************************/
#panel31{
  background-image: url('../panels/31/fondo.png');
}
#p31__1-1 {
  position: absolute;
  left: 455px;
  top: 78px;
  z-index: 1;
}
#p31__1-2 {
  position: absolute;
  right: 199px;
  top: 147px;
  z-index: 1;
}
#p31__1-3 {
  position: absolute;
  left: 248px;
  top: 183px;
  z-index: 1;

}
#p31__1-4 {
  position: absolute;
  left: 227px;
  top: 181px;
  z-index: 1;
}
#p31__1-5 {
  position: absolute;
  left: 707px;
  top: 151px;
  z-index: 1;
}
/**************************panel31 ************************/

#p32__1-1 {
  position: absolute ;
}

#p32__1-2 {
  position: absolute ;

}

#p32__1-3 {
  position: absolute ;

}

#p32__1-4 {
  position: absolute ;

}