
.oniria-menu {
  width: 100%;
  color: $mainColor;
  background-color: $backgroundColor;
  height: 5rem;
  border-bottom: 1px solid #607EF0;
  position: absolute;
  @at-root &__logo {
    right: 0;
    padding: .5rem;
    width: 20%;
    display: inline-block;
    position: relative;
    margin-left: 80px;
    img {
     
    }
  }
  @at-root &__item {
    top: 29px;
    position: absolute;
  }
}

